<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Usuarios cadastrados</h1>
    <ul>
        {%for usuario in lista_de_usuarios%}
        <li>{{usuario.nome}} - {{usuario.email}}</li>
        <a href="/Usuarios/deletar/{{usuario.id}}">deletar usuario</a>
        {%else%}
        <li>Nenhum usuário encontrado</li>
        {%endfor%}
        <ul>
            <hr>
            <h2>Adicionar novo usuario</h2>
            <form action="/Usuarios/novo" method="post">
                <input type="text" name="nome" placeholder="Nome completo" required>
                <input type="email" name="email", placeholder="Seu melhor email", required>
                <input type="password" name="password", placeholder="senha", required>
                <input name="user_type" list="list"/>
                <datalist id="list">
                    <option value="admin">admin</option>
                    <option value="comum">comum</option>

                </datalist>
               
                <button type="submit">Adicionar</button>
            </form>
            <form action="/Usuarios/login" method="post">
                <input type="text" name="username" required>
                <input type="password" name="password" required>
                <button type="submit">Logar</button>
            </form>
        </ul>
    </ul>
</body>
</html>