<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/AdivinheOnumero.css">
</head>
<style>

</style>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/">Login</a>
    </header>
    <main>
      <div>
        <h1>Adivinhe um número</h1>
        <p>{{mensagem}}</p>
        {% if not jogo_terminado %}
        <form action="{{url_for('adivinhar_numero')}}" method="POST">
          <input type="number" id="number" placeholder="Adivinhe um numero entre 1 a 100" max="100" min="1" required  value="{{ Chute if Chute is not none else '' }}" name="number">
          <button type="submit" id="submit">Adivinhar</button>
        </form>
        {% endif %}
        <br>
        <p>Tentativas:{{tentativas}}</p>
      </div>
      
      <form method="POST" action="{{ url_for('adivinhar_numero') }}" class="mt-4">
        <input type="hidden" name="novo_jogo_an" value="true">
        <button type="submit"
                class="px-8 py-3 bg-emerald-500 hover:bg-emerald-600 text-white font-semibold rounded-lg shadow-md hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105">
            Novo Jogo
        </button>
    </form>
    </main>
    </body>
   <script src="index.js"></script>
</html>