<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Forca.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/">Login</a>
    </header>
    <main>
        <div>
            <h1>Letras Erradas</h1>
        </div>
       <div id="Jogo">
           <div id="Corpo">
                <span>|</span><br><span>O</span><br><span> /</span><span>|</span><span>\</span><br><span>/</span><span id="separador">.</span><span>\</span>
           </div>
           <div id="Letras">
                <ul><li>T</li><li>e</li><li>s</li><li>t</li><li>e</li></ul>
           </div>
            <form action="|">
              <input type="text" id="number" placeholder="Escolha uma letra" required>
              <input type="submit" id="submit" value="Adivinhar">
            </form>
       </div>
       <div>
        <h1>Letras Certas</h1>
       </div>
    </main>
    </body>
   <script src="index.js"></script>
</html>