<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Hanoi.css">
</head>
<body>
    <header>
        <a href="../../Home/Home.html">Home</a>
        <a href="/">Login</a>
    </header>
    <main>
       <div id="torres">
       <div class="graveto"></div> <div class="graveto"></div> <div class="graveto"></div>
       </div>
    </main>
    </body>
   <script src="index.js"></script>
</html>