<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/">Login</a>
    </header>
    <main>
        <div class="image-carousel">
            <div class="container">
              <div class="left-arrow">&lt; </div>
              <div class="img-container">
                <a href="/Hanoi">
                    <img
                      src="../static/imgs/torre.png"
                      alt="Pixel art of mountain">
                </a>
                <a href="/forca">
                    <img src="../static/imgs/Forca.jpg"
                      alt="Pixel art of a landscape">
                </a>
                <a href="/batalhaNaval">
                    <img src="../static/imgs/BatalhaNaval.webp"
                      alt="Pixel art of mountain">
                </a>
                <a href="/PedraPapelTesoura">
                    <img src="../static/imgs/Jokenpo.webp"
                      alt="Pixel art of a planet">
                </a>
                <a href="/adivinhar_numero ">
                    <img src="../static/imgs/adivinheOnumero.jpg"
                      alt="Pixel art of S30mu5t6NVoaASo9Yy4kLO1Npve0tytE2kSCO11Gp4p9M5sxP8RLh8SqLCyi4WVbNBicUynGcxMxYnTXTunMPWbUbmZcaaRos5XxL6sZ4gTECNY"
                      >
                </a>
                  <a href="/Quizz"><img src="../static/imgs/quizz.png" alt="" width="80"></a>
              </div>
              <div class="right-arrow">&gt</div>
            </div>
            <div class="dots">
            </div>
          </div>
    </main>
    </body>
   <script src="../static/js/index.js"></script>
</html>