<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="PDT.css">
</head>
<body>
    <header>
        <a href="../../Home/Home.html">Home</a>
        <a href="/">Login</a>
    </header>
    <main>
        <h1>Jogue</h1>
        <div id="maoPc">
            <img src="../imgs/imgs/{}.png" alt="">
        </div>
       <div>
        <button><img src="../static/imgs/papel.png" alt=""></button><button><img src="../static/imgs/pedra.png" alt=""></button><button><img src="../static/imgs/tesoura.png" alt=""></button>
       </div>
    </main>
    </body>
   <script src="index.js"></script>
</html>