:root {
    --bg-primary: #1f2937; /* Cor de fundo primária no modo escuro */
    --bg-secondary: #111827; /* Cor de fundo secundária no modo escuro */
    --text-primary: #f9fafb; /* Cor do texto primário no modo escuro */
    --text-secondary: #d1d5db; /* Cor do texto secundário no modo escuro */
}


body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.profile-card {
    background-color: var(--bg-secondary);
    transition: all 0.3s ease;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

/* Adicionando estilos para o modo escuro */
body.dark-mode {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.profile-card.dark-mode {
    background-color: var(--bg-secondary);
}
